* {
    box-sizing: border-box;
}

ul li {
    font-family: 'Times New Roman', Times, serif;
}

ol li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    background-color: #ebd234;
    width: 600px;
    padding: 20px 40px;
    margin: 30px auto;
}

.box h1 {
    background-color: white;
    text-align: center;
    height: 60px;
    padding: 10px;
}

.box ul {
    background-color: white;
    padding: 20px;
}

.box ul li {
    margin: 10px 30px;
}

.para {
    background-color: #c9c9c9;
    padding: 5px 20px 10px;
    margin: 20px auto;
}